<div class="btn-container">
  <button class="btn-registrar" routerLink="/crear-categoria">
    <span class="material-icons">category</span>
    Nueva Categoría
  </button>
</div>

<div *ngIf="categorias && categorias.length">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 styled-table">

    <ng-container matColumnDef="ID">  
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let categoria">{{categoria.idCat}}</td>
    </ng-container>

    <ng-container matColumnDef="Descripcion">  
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let categoria">{{categoria.descripcion}}</td>
    </ng-container>

   <ng-container matColumnDef="Acciones">  
  <th mat-header-cell *matHeaderCellDef>Acciones</th>
  <td mat-cell *matCellDef="let categoria" class="acciones-cell">

    <!-- Botón Editar -->
    <a mat-flat-button class="btn-custom" [routerLink]="['/categorias/editar', categoria.idCat]">
      <i class="bi bi-pencil-fill"></i>
    </a>

    <!-- Botón Eliminar -->
    <button mat-flat-button class="btn-custom"
      [swal]="{title:'Confirmación', text: '¿Deseas borrar este registro?', showCancelButton:true}"
      (confirm)="borrar(categoria.idCat)">
      <i class="bi bi-trash-fill"></i>
    </button>

  </td>
</ng-container>


    <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>

  </table>

  <div style="margin-top:16px; display:flex; justify-content:flex-end;">
    <mat-paginator [pageSize]="7" [pageSizeOptions]="[7]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<ng-container *ngIf="!categorias || !categorias.length">
  <app-loading></app-loading>
</ng-container>