.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: 50px;
}

.btn-registrar {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.2s ease;
}

.btn-registrar:hover {
  background: #222;
}

.material-icons {
  font-size: 18px;
}
