<nav class="sidebar bg-white shadow-sm">
 <p class="sidebar-brand d-block text-center py-5" style="font-size: 1.8rem;">
  <i class="bi bi-cup-straw me-2"></i> Mr.Bear
</p>


  <!-- MENÚ -->
  <ul class="nav flex-column mt-4">
    <li class="nav-item">
       <a routerLink="registro-empleados" routerLinkActive="active-link" class="nav-link d-flex align-items-center py-3 px-3">
        <i class="bi bi-person me-2 fs-5"></i>
        <span class="text-uppercase">Registrar Empleado</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="registro-usuarios" routerLinkActive="active-link" class="nav-link d-flex align-items-center py-3 px-3">
        <i class="bi bi-person-badge me-2 fs-5"></i>
        <span class="text-uppercase">Asginar Credenciales</span>
      </a>
    </li>
    <!--
    <li class="nav-item">
      <a routerLink="asignar-roles" routerLinkActive="active-link" class="nav-link d-flex align-items-center py-3 px-3">
        <i class="bi bi-people me-2 fs-5"></i>
        <span class="text-uppercase">Asignar Roles</span>
      </a>
    </li>
  -->
   
     <li class="nav-item">
      <a routerLink="registro-categorias" routerLinkActive="active-link" class="nav-link d-flex align-items-center py-3 px-3">
        <i class="bi bi-people me-2 fs-5"></i>
        <span class="text-uppercase">Registrar Categorias</span>
      </a>
    </li>
    
     <li class="nav-item">
      <a routerLink="registro-proveedores" routerLinkActive="active-link" class="nav-link d-flex align-items-center py-3 px-3">
        <i class="bi bi-people me-2 fs-5"></i>
        <span class="text-uppercase">Registrar Proveedores</span>
      </a>
    </li>
     <li class="nav-item">
      <a routerLink="registro-productos" routerLinkActive="active-link" class="nav-link d-flex align-items-center py-3 px-3">
        <i class="bi bi-people me-2 fs-5"></i>
        <span class="text-uppercase">Registrar Productos</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="registro-salidas" routerLinkActive="active-link" class="nav-link d-flex align-items-center py-3 px-3">
        <i class="bi bi-people me-2 fs-5"></i>
        <span class="text-uppercase">Registrar Salidas</span>
      </a>
    </li>
  </ul>

  <!-- CERRAR SESIÓN 
  <div class="mt-auto text-center py-3">
    <a class="nav-link logout-btn d-flex align-items-center justify-content-center text-danger py-3">
      <i class="bi bi-box-arrow-right me-2 fs-5"></i>
      <span class="text-uppercase fw-bold">Cerrar Sesión</span>
    </a>
  </div>
  -->
</nav>
