body {
  font-family: 'Inter', sans-serif;
  background: #f7f7f7;
}

.form-wrapper {
  max-width: 580px;
  margin: 50px auto;
  background: #ffffff;
  border-radius: 18px;
  padding: 35px 40px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
border: 1px solid #e7e7e7;
}
.form-title {
font-weight: 300;
font-size: 26px;
color: #555;
text-align: center;
margin-bottom: 20px;
}
.form-label {
font-size: 14px;
color: #7d7d7d;
font-weight: 300;
}
.btn-submit {
width: 100%;
padding: 13px;
margin-top: 10px;
border-radius: 12px;
border: none;
font-size: 16px;
font-weight: 300;
background: #000000;
color: #ffffff;
transition: 0.25s ease;
}
.btn-submit:hover {
background: #6c6c6c;
color: #ffffff;
}
.btn-cancel {
display: inline-block;
width: 100%;
text-align: center;
padding: 13px;
margin-top: 10px;
border-radius: 12px;
border: none;
font-size: 16px;
font-weight: 300;
background: #3f3f3fc7;
color: #ffffff;
text-decoration: none;
transition: 0.25s ease;
}
.btn-cancel:hover {
background: #6c6c6c;
color: #ffffff;
}
.input-field {
width: 100%;
padding: 13px 16px;
background: #f3f3f3;
border: 1px solid #e2e2e2;
border-radius: 14px;
font-size: 15px;
font-weight: 300;
color: #444;
transition: all 0.25s ease;
}
.input-field:hover {
background: #fafafa;
border-color: #d0d0d0;
}
.input-field:focus {
background: #ffffff;
border-color: #000;
box-shadow: 0 0 0 3px rgba(0,0,0,0.12);
outline: none;
}
.password-container {
position: relative;
}
.password-container .input-field {
padding-right: 50px;
}
.btn-toggle-password {
position: absolute;
right: 15px;
top: 50%;
transform: translateY(-50%);
background: none;
border: none;
cursor: pointer;
color: #666;
font-size: 18px;
}
.btn-toggle-password:hover {
color: #000;
}
.input-field.input-error {
  border: 1px solid #e53935; /* rojo */
  box-shadow: 0 0 4px rgba(229, 57, 53, 0.4);
}
.input-field.input-error::placeholder {
  color: #e53935;
}
mat-error {
  color: #e53935 !important;  /* rojo fuerte */
  font-size: 0.9rem;
  margin-top: 4px;
  display: block;
}
