<div class="form-wrapper">
    <h3 class="form-title">Registro de Empleado</h3>

    <form (submit)="guardarCambios()"[formGroup]="form">

        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="input-field" [formControl]="form.controls.nombre" placeholder="Escribe tu nombre">
        </div>

        <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input type="text"class="input-field"  [formControl]="form.controls.apellido" placeholder="Escribe tu apellido">
        </div>

        <div class="mb-3">
            <label class="form-label">DNI</label>
            <input type="number" class="input-field" [formControl]="form.controls.dni" placeholder="Tu número de DNI">
        </div>

        <div class="mb-3">
            <label class="form-label">Teléfono</label>
            <input type="number"class="input-field" [formControl]="form.controls.telefono" placeholder="Tu número de teléfono">
        </div>

        <div class="mb-3">
            <label class="form-label">Correo electrónico</label>
            <input type="email"class="input-field" [formControl]="form.controls.email" placeholder="correo@ejemplo.com">
        </div>

        <div class="mb-3">
            <label class="form-label">Dirección</label>
            <textarea class="input-field" [formControl]="form.controls.direccion" rows="3" placeholder="Tu dirección completa"></textarea>
        </div>

        <button type="submit" class="btn-submit">Guardar</button>
      <a routerLink="/registro-empleados" class="btn-cancel">Cancelar</a>
    </form>
</div>